<!--
    ____ __   _                              _             
   / ___JLJ  FJ_      ____     _ ___      ___FJ     ____   
  J |_--'   J  _|    F __ J   J '__ J    F __  L   F __ J  
  |  _|  FJ | |-'   | _____J  | |__| |  | |--| |  | |--| | 
  F |_J J  LF |__-. F L___--. F L  J J  F L__J J  F L__J J 
 J__F   J__L\_____/J\______/FJ__L  J__LJ\____,__LJ\______/F
 |__|   |__|J_____F J______F |__L  J__| J____,__F J______F 

-->

<div id="userInfo">
  <%= image_tag @user['avatar'] %><br />
  <%= @user['displayName'] %>
</div>

<div id="myContent">
	<h1>Alternative content</h1>
	<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
</div>

<script type="text/javascript">
swfobject.registerObject("myId", "9.0.0", "expressInstall.swf");
</script>