// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: #ffffff;
	color: #333333;
	font-family: 'Helvetica', sans-serif;
}

#mainwrapper {
	height:auto;
}

#tvwrapper {
	position:relative;
	float:left;
	display:inline;
	width:900px;
	height:750px;
	margin-right:50px;

}

#tv {
	position:absolute;
	z-index:999;
	left:0px;
}

#ytPlayer {
	position:absolute;
	z-index:1;
	left:85px;
	top:90px;
}
	
#userInfo {
	padding:30px 20px 20px 20px;
	width: 200px;
	display:inline;
	float:left;
}

#userInfo a{
	color:#ff0000;
	text-decoration: none;
}
#userInfo a:hover{
	
	text-decoration: underline;
}

#calendar {
	clear:both;
}